# .gitignore

# Ignore Visual Studio Code files
.vscode/


# Ignore build files
node_modules/
dist/

# Ignore logs
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment variables
.env

# Ignore myenv directory
myenv/

rabbitmq/definitions.json
data_collection/geckodriver
my_database.db