asttokens==2.2.1
attrs==23.1.0
backcall==0.2.0
beautifulsoup4==4.10.0
catboost==1.2
certifi==2021.10.8
cffi==1.16.0
charset-normalizer==2.0.10
click==7.1.2
cloudpickle==2.2.1
colorama==0.4.4
comm==0.1.2
contourpy==1.0.7
cycler==0.11.0
dask==2023.1.1
debugpy==1.6.6
decorator==5.1.1
dominate==2.5.2
exceptiongroup==1.1.3
executing==1.2.0
Flask==1.1.2
Flask-Bootstrap==3.3.7.1
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
fonttools==4.39.3
fsspec==2023.1.0
graphviz==0.20.1
greenlet==1.1.2
h11==0.14.0
h5py==3.8.0
idna==3.3
ipykernel==6.21.1
ipython==8.9.0
itsdangerous==2.0.1
jedi==0.18.2
Jinja2==2.11.2
jupyter_client==8.0.2
jupyter_core==5.2.0
kiwisolver==1.4.4
locket==1.0.0
MarkupSafe==1.1.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
nest-asyncio==1.5.6
numpy==1.22.1
outcome==1.2.0
packaging==23.0
pandas==1.4.0
parso==0.8.3
partd==1.3.0
pickleshare==0.7.5
pika==1.3.2
Pillow==9.5.0
platformdirs==3.0.0
plotly==5.14.1
prompt-toolkit==3.0.36
psutil==5.9.4
pure-eval==0.2.2
pycparser==2.21
Pygments==2.14.0
PyJWT==2.3.0
pyparsing==3.0.9
pyperclip==1.8.2
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
pyzmq==25.0.0
requests==2.27.1
scipy==1.10.1
selenium==4.14.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.1
spotipy==2.19.0
SQLAlchemy==1.4.32
stack-data==0.6.2
tenacity==8.2.2
toolz==0.12.0
tornado==6.2
traitlets==5.9.0
trio==0.22.2
trio-websocket==0.11.1
urllib3==1.26.8
visitor==0.1.3
wcwidth==0.2.6
wsproto==1.2.0
WTForms==2.3.3
Werkzeug==2.0.3
